[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyRatings"]
	path = shinyRatings
	url = https://github.com/shahronak47/shinyratings
